.frame-4, .frame-4 * { box-sizing: border-box; }.frame-4 {background: #ffffff; width: 2722px; height: 1512px; position: relative; overflow: hidden;}
 .rectangle-3 {background: #d9d9d9; width: 2728px; height: 146px; position: absolute; left: 0px;top: -1px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .rectangle-4 {position: absolute; left: 2663px;top: 73px; overflow: visible;}
 .component-2 {width: 117px; height: 117px; position: absolute; left: 2592px;top: 15px;}
 .ellipse-2 {background: #ff0000; border-radius: 50%; width: 117px; height: 117px; position: absolute; left: 0px;top: 0px;}
 .si-user {position: absolute; left: 29px;top: 28px; overflow: visible;}
 .line-1 {border-style: solid; border-color: #000000; border-width: 1px 0 0 0; width: 503px; height: 0px; position: absolute; left: 0px;top: 147px;}
 .rectangle-19 {background: #d9d9d9; border-radius: 30px; width: 2088px; height: 96px; position: absolute; left: 606px;top: 1387px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .interaction-outline-send {position: absolute; left: 2586.33px;top: 1400px; transform: translate(-5.33px, 0px); overflow: visible;}
 .general-outline-attachment {position: absolute; left: 636px;top: 1405px; overflow: visible;}
 .rectangle-5 {background: #4f9ce3; width: 503px; height: 1512px; position: absolute; left: 3px;top: -1px; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);}
 .si-sort-alt {position: absolute; left: 356px;top: 12px; overflow: visible;}
 .chats {color: #ffffff; text-align: left; font: 400 96px 'Lalezar', sans-serif; position: absolute; left: 33px;top: 12px; width: 443px; height: 208px;}
 .si-settings-cute {position: absolute; left: 2468px;top: 46px; overflow: visible;}
